{% extends "layouts/base.njk" %}
{% block body %}
<div class="body-container">
    {% include "flashes.njk" %}
    <div class="form-container">
        <form action="/account/inventory" method="POST">
            <fieldset>
                <h1>Add items to your shop</h1>
                <div class="input-and-label">
                    <label for="itemName">Name</label>
                    <input type="text" id="itemName" name="itemName" placeholder="Name">
                </div>
                <div class="input-and-label">
                    <label for="itemDescription">Description</label>
                    <textarea name="itemDescription" maxlength="100"></textarea>
                </div>
                <div class="input-and-label">
                    <input type="number" name="price" placeholder="price">
                </div>
                <button type="submit">Add item</button>
            </fieldset>
        </form>
</div>
</div>
{% endblock %}
