<!DOCTYPE html>
<html>
  <head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <link rel='stylesheet' href='/stylesheets/normalize.css'/>
    <link rel='stylesheet' href='/stylesheets/new_style.css'/>
    {% block stylesheets %}{% endblock %}
    {% block head %}{% endblock %}
    <title>{{title}}</title>
  </head>

  <body>
    {% block nav %}
      <div class="navbar-container">
        <nav class="navbar-primary">
        <div class="navbar-secondary">
          <a href="/"><img class="logoimage" src="/logo/deliver2logo1.png"></a>
        </div>
        <div class="navbar-secondary">
          {% if user %}
            <div class="navbar-tertiary">
              <div class="navbar-email"><a href="/account">{{ user.email }}</a></div>
              <a href="/account" class="button-action"><span class="material-icons">manage_accounts</span></a>
              <a href="/users/basket" class="button-action"><span class="material-icons">shopping_cart</span></a>
              <a href="/users/logout" class="button-action">Logout</a>
            </div>
          {% else %}
          <a class="button-action" href="/users/login">Login</a>
          <a class="button-action" href="/users/register">Register</a>

          {% endif %}
          </div>
        </nav>
      </div>
    {% endblock %}
        {% if toastAuto %}
          <!-- req.flash('toastAuto', "toast message goes here") -->
          {% for toast in toastAuto %}
            <p class="toast-auto">{{toast}}</p>
          {% endfor %}
        {% endif %}
    {% block body %}{% endblock %}
    {% block footer %}
      <footer>
      <div class="footer-primary">
          <div class="footer-secondary">
              <a>Contact Us</a>
              <a>About</a>
              <a>Help</A>
          </div>
          <div class="footer-secondary">
              <a href="/birds">Terms and Conditions</a>
              <a href="/birds">Privacy</a>
              <a href="/birds">Alcohol Policy</a>
          </div>
      </footer>
      {% endblock %}
      {% block javascript %}{% endblock %}
  </body>

</html>