<!DOCTYPE html>
<html>
  <head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"></script>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    {% block stylesheets %}{% endblock %}
    {% block head %}{% endblock %}
    <title>{{title}}</title>
  </head>

  <body>
    {% block nav %}
      <div class="main-container">
        <nav>
          <h1>
            <a href="/">
              <i>Deliver2</i>
            </a>
          </h1>
          {% if user %}
            <p>{{ user.email }}</p>
            <div class="container-row center" style="margin-right: 2rem;">
              <a href="/users/logout" class="button-white" style="margin-right: 1rem;">logout</a>
              <a href="/users/basket">
                <span class="material-icons" style="font-size: 2rem;">shopping_cart</span></a>
            </div>

          {% else %}
            <ul>
              <li class="button-white">
                <a href="/users/login" style="color: black;">Login</a>
              </li>
              <li class="button-white">
                <a href="/users/register" style="color: black;">Register</a>
              </li>
            </ul>
          {% endif %}
        </nav>
      {% endblock %}
      {% block body %}{% endblock %}
      {% block footer %}{% endblock %}
    </div>
  </body>

</html>