<!DOCTYPE html>
<html>
  <head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <link rel='stylesheet' href='/stylesheets/normalize.css'/>
    <link rel='stylesheet' href='/stylesheets/new_style.css'/>
    {% block stylesheets %}{% endblock %}
    {% block head %}{% endblock %}
    <title>{{title}}</title>
  </head>

  <body>
    {% block nav %}
      <div class="navbar-container">
        <nav>
          <a class="logo" href="/"><span class="logo-d-2">d</span>eliver<span class="logo-d-2">2</span></a>
          <div class="navbar-actions">
            {% if user %}
              <p>{{ user.email }}</p>
              <div class="container-row center">
                <a href="/users/logout" class="button-action">logout</a>
                <a href="/account"><span class="material-icons">manage_accounts</span></a>
                <a href="/users/basket"><span class="material-icons">shopping_cart</span></a>
              </div>
            {% else %}
            <a class="button-action" href="/users/login">Login</a>
            <a class="button-action" href="/users/register">Register</a>

            {% endif %}
            </div>
        </nav>
      </div>
      {% endblock %}
      {% block body %}{% endblock %}
      {% block footer %}
      <footer>
      <div class="footer-primary">
          <div class="footer-secondary">
              <a>Contact Us</a>
              <a>Contact Us</a>
          </div>
          <div class="footer-secondary">
              <a>Alcohol Policy<span class="material-icons">liquor</span></a>
          </div>
      </footer>
      {% endblock %}
      {% block javascript %}{% endblock %}
  </body>

</html>