{% extends "layouts/base.njk" %}
{% block body %}
{% include "flashes.njk" %}
<div class="user-preferences">
    <form action="/account" method="POST">
        <fieldset>
            <legend>Update info</legend>
            {% if user.type == 1 %}
            <label for="shopName">Shop name</label>
            <input type="text" name="shopName" value="{{ shop.name }}" minlength="2" required="true">
            <label for="shopDescription">Shop description</label>
            <textarea id="shopDescription" name="shopDescription" rows="7" cols="50" required="true">
            {{- shop.description -}}
            </textarea>
            {% if shop.shown %}
            {% set checked = "checked" %}
            {% else %}
            {% set checked = "" %}
            {% endif %}
            <input type="checkbox" name="shopShown" {{checked}}>
            <label for="shopShown">Show your shop?</label>
            {% endif %}
            <label for="address">Address:</label>
            <input type="text" name="address" value="{{ user.address }}">
            <label for="postcode">Postcode:</label>
            <input type="text" name="postcode" value="{{ user.postcode }}">
            <input type="submit" value="UPDATE">
        </fieldset>
    </form>
</div>
{% endblock %}