{% extends "layouts/base.njk" %}
{% block body %}
<div class="body-container">
<div class="form-container">
{% include "flashes.njk" %}
    <form action="/account" method="POST" enctype="multipart/form-data">
        <fieldset>
            <h1>Address</h1>
            <label for="address">Address:</label>
            <input type="text" name="address" value="{{ user.address }}">
            <label for="postcode">Postcode:</label>
            <input type="text" name="postcode" value="{{ user.postcode }}">
            {% if user.type == 1 %}
            {% if shop.shown %}
            {% set checked = "checked" %}
            {% else %}
            {% set checked = "" %}
            {% endif %}
            <h1>Shop Details</h1>
            <div class="checkbox-and-label">
                <label for="shopShown">Show your shop?</label>
                <input type="checkbox" name="shopShown" {{checked}}>
            </div>
            <label for="shopName">Shop name</label>
            <input id="shopName" oninput="updateNames()" type="text" name="shopName" value="{{ shop.name }}" minlength="2" required="true">
            <label for="shopDescription">Shop description</label>
            <textarea id="shopDescription" oninput="updateDescs()" name="shopDescription" rows="7" cols="50" maxlength="160" required="true">
            {{- shop.description -}}
            </textarea>
            <label for="image">Upload your shop image here</label>
            <input type="file" name="image" accept="image/*">
            {% endif %}
            <button type="submit" value="UPDATE">UPDATE</button>
        </fieldset>
    </form>
</div>
{% if user.type == 1 %}
<div class="shop-grid-example">
    <div class="shop-grid">
        <div class="shop-card" style="background-image: linear-gradient(rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0) 50%), url('{{shop.imagefile}}')">
            <div class="shop-card-header">
                <h1 class="shop-card-title" id="shop-name1">{{ shop.name }}</h1>
            </div>
            <p class="shop-card-description" id="shop-desc1">{{ shop.description }}</p>
        </div>
        <div class="shop-card hover" style="background-image: linear-gradient(rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0) 50%), url('{{shop.imagefile}}')">
            <div class="shop-card-header">
                <h1 class="shop-card-title" id="shop-name2">{{ shop.name }}</h1>
            </div>
            <p class="shop-card-description" id="shop-desc2">{{ shop.description }}</p>
        </div>
    </div>
</div>
{% endif %}
</div>
<script type="text/javascript">
    function updateNames() {
        $(".shop-card-title").text($("#shopName").val());
    }
    function updateDescs() {
        $(".shop-card-description").text($("#shopDescription").val());
    }
</script>
{% endblock %}

{% block javascript %}
{% endblock %}