{% extends "layouts/base.njk" %}
{% block body %}
<div class="login-container">
    <h1>Add items and see the descriptions!</h1>
    <form action="/addItem" method="POST">
        <fieldset>
             <legend>Add Items</legend>
            <input type="text" name="item" placeholder="item">
            <textarea name="itemdescription" placeholder="itemdescription"></textarea>
            <input type="price" name="price" placeholder="price">
            <input type="submit" value="Find"> 
        </fieldset>
    </form>
</div>
{% endblock %}
