<div class="login-container">
    <h1>Example User Registeration Form!</h1>
    <form action="/users/register" method="POST">
        <fieldset>
            <legend>Register</legend>
            <input type="text" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="REGISTER">
        </fieldset>
    </form>
</div>