{{#extend "body"}}
<div class="main-container">
    <h1>Basket</h1>
    <ul>
        {{#each user.basket}}
            <li>{{this.item.name}}{{convertPrice this.item.price}} : {{this.quantity}}</li>
            
        {{/each}}
        <li><h4>Total price: {{convertPrice total_price}}</h4></li>
    </ul>
</div>
{{/extend}}