{% extends "layouts/base.njk" %}
{% block body %}
<div class="body-container">
    <div class="shop-grid">
        {% for shop in shops %}
        <a href="/shops/{{shop._id}}">
            <div class="shop-card" style="background-image: linear-gradient(rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0) 50%), url('{{shop.imagefile}}')">
                <div class="shop-card-header">
                    <h1 class="shop-card-title">{{ shop.name }}</h1>
                </div>
                <p class="shop-card-description">{{ shop.description }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}