{% extends "layouts/base.njk" %}
{% block body %}
    <div class="login-container">
        {% if user %}
            <p>You are already logged in as {{ user.email }}</p>
            <p>please logout before trying to login as someone else.</p>
            <a href="/users/logout">logout</a>
        {% endif %}
        <form class="login-form" method="POST" action="/users/login">
            <fieldset>
                <legend>Login</legend>
                <input type="text" placeholder="email" name="email">
                <input type="password" placeholder="password" name="password">
                <input type="submit" value="login">
            </fieldset>
        </form>
    </div>
{% endblock %}