{% extends "layouts/base.njk" %}
{% block body %}
<div class="body-container">
    <div class="shop-container">
        {# <div class="container">
            <div class="main-shop">
                <main class="shop-header">
                    <div class="shop-description">
                        <h2 class="shop-name">{{shop.name}}</h2>
                        <hr>
                        <p>{{shop.description}}</p>
                        <hr>
                        <p>details</p>
                    </div>
                    <img class="shop-image" src="{{shop.imagefile}}" alt="shop image">
                </main>
                <div class="shop-items">
                    <div class="shop-item">
                        <div class="shop-item-details">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Coca-Cola_logo.svg" alt="">
                            <div class="item-name">Coke</div>
                        </div>
                        <div class="shop-item-controls">
                            <button class="button-action"><span class="material-icons">remove</span></button>
                            <h1>(amnt)</h1>
                            <button class="button-action"><span class="material-icons">add</span></button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <div class="shop-item-details">
                            <img src="https://www.seriouseats.com/thmb/ifm0CdyPbk1mpwR9QkosdU8JHAs=/450x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__images__2014__06__20140623-cheese101-hard-cheese-clothbound-cheddar-vicky-wasik-1-850ecd4c1982457698ba4ea0ab8b4c08.jpg" alt="">
                            <div class="item-name">Cheese</div>
                        </div>
                        <div class="shop-item-controls">
                            <button class="button-action"><span class="material-icons">remove</span></button>
                            <h1>(amnt)</h1>
                            <button class="button-action"><span class="material-icons">add</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="shop-basket">
                <h1>Basket (react)</h1>
                {% if basket %}
                    <ul>
                    {% for thing in basket %}
                        <li>{{ thing.item.name }}    
                        <li>{{thing.quantity}}
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div> #}
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>localStorage.setItem('shop_id', '{{shop._id}}')</script>
<script defer src="/react_components/Shop.js" type="text/babel"></script>
{% endblock %}