{% extends "layouts/base.njk" %}
{% block body %}
<div class="body-container">
    <div class="shop-container">
        <div class="container">
            <div class="main-shop">
                <main class="shop-header">
                    <div class="shop-description">
                        <h2 class="shop-name">{{shop.name}}</h2>
                        <hr>
                        <p>Description</p>
                        <hr>
                        <p>details</p>
                    </div>
                    <img class="shop-image" src="{{shop.imagefile}}" alt="shop image">
                </main>
                <div class="items">
                    <div class="shop-item">Test item</div>
                    <div class="shop-item"> Test item 2</div>
                    <div id="random-user"></div>
                    {# {% for item in items %}
                        <div class="item-card">
                            <h1>{{item.name}}</h1>
                            <p>{{ convertPrice(item.price) }}</p>
                            <div class="item-card-controls">
                                {% set quantity = quantityInBasket(basket, item._id) %}
                                <h1 onclick="add_or_remove_2basket(this, '{{ item._id }}', 1, '{{ shop._id }}')">
                                    <span class="material-icons">add</span></h1>
                                {% if quantity %}
                                    <p id="item{{ item._id }}">{{ quantity }}</p>
                                    <h1 onclick="add_or_remove_2basket(this, '{{ item._id }}', -1, '{{ shop._id }}')" style="background-color: crimson;">
                                        <span class="material-icons">remove</span></h1>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %} #}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="shop-basket">
                <h1>Currently in Basket</h1>
                {% if basket %}
                    <ul>
                        {% for thing in basket %}
                            <li>{{ thing.item.name }} {{thing.quantity}}<li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
    <script>

        function add_or_remove_2basket(target, item_id, amount, shop_id) {
            console.log(target, item_id, amount);
            $.post("/users/add2basket", {
                itemid: item_id,
                amount: amount,
                shopId: shop_id
            }, function (data) {
                if (data.success) {
                    var quantity = Number($('#item' + item_id).text());
                    if (quantity == 0) {
                        //we now need to add on the remove button and quantity.
                        //wish this was easier said then done ughhh.
                        $(target).after('<h1 onclick="add_or_remove_2basket(this, ' + "'" + item_id + "'" + ', -1)" style="background-color: crimson;"><span class="material-icons">remove</span></h1>');
                        $(target).after('<p id="item' + item_id + '">1</p>');
                    }
                    if (quantity == 1 && amount == -1) {
                        //user has deleted item from their basket so lets remove the option to remove it anymore and the quantity.
                        var removeButton = $(target).after();
                        $(removeButton).remove();
                        $('#item' + item_id).remove();
                    }
                    quantity += amount;
                    $('#item' + item_id).text(quantity);
                } else {}
            });
        }
    </script>
{% endblock %}