	<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" initial-scale="1">
	<title>Home Page</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<link href="stylesheets/temporary.css" rel="stylesheet">
</head>

<body>
	<header>
		<h1>deliver2</h1>
		<nav>
			<ul>
				<li><a href="index">Home</a></li>
				<li><a href="shops">Shops</a></li>
				<li><a href="account">Log-in/Sign-up</a></li>
				<li><a href="basket">My Basket</a></li>
				<!-- <li><a href="checkout.html">Checkout</a></li> -->
				<li><a href="/contact">Contact us</a></li>
			</ul>
		</nav>
		<input type ="search" placeholder ="Search Items or Shop...">
	</header>
	
	
		<main>

		</main>

	 <footer>
    <nav>
        <ul>
           <li><a href="index">Home</a></li>
					<li><a href="shops">Shops</a></li>
						<li><a href="account">Log-in/Sign-up</a></li>
						<li><a href="basket">My Basket</a></li>
						<li><a href="checkout">Checkout</a></li>
						<li><a href="/contact">Contact us</a></li>
           </ul>
            </nav>
     </footer>

		<script src="script.js"></script>
  </body>
</html>

