@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*

#FEFEFE
-- white

#03EFFD
-- light blue

#35B6E0
-- blue

#726ECD
-- lilac

#7B3DB8
-- purple

*/

/* COLOURS */

:root {
  --primary: #35B6E0;
  --basketdrop-grey: #D8F4ED;
  --secondary: #368F80;
  --primary05a: rgba(53, 181, 224, 0.5);
  --basketdrop-grey05a: rgba(216, 244, 237, 0.5);
  --secondary05a: rgba(54, 143, 128, 0.5);
  --primary02a: rgba(53, 181, 224, 0.2);
  --basketdrop-grey02a: rgba(216, 244, 237, 0.2);
  --secondary02a: rgba(54, 143, 128, 0.2);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* --primary-light: #03EFFD;
  --primary-classy-dark: #986298;
  --accent:  #726ECD; */
  font-size: 16px !important;
}

/* END COLOURS */

/* GLOBALS */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

html {
  padding: 0;
  margin: 0;
  min-height: 100% !important;
}

body {
  color: var(--primary);
  line-height: 1.5;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

hr {
  color: var(--primary);
  height: 1px;
  background-color: var(--primary05a);
  outline: none;
  border: none;
}

.material-icons {
  font-size: 2rem;
}

.container {
  padding: 0.6rem 0.6rem;
  margin: 0.5rem 0.5rem;
}

/* END GLOBALS */

/* NAVBAR */

.navbar-container {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 0 auto 0 auto;
  padding: 0 1rem;
}

nav .logo {
  display: inline-flex;
  justify-content: center;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  background-color: var(--primary);
  color: white;
  font-size: 2.2rem;
  font-weight: 600;
  transition: 0.5s;
}

nav .logo:hover {
  color: var(--secondary);
  transition: 0.5s;
}

nav .logoimage{
  height: 75px;
  float: left;
}

.navbar-tertiary {
  display: flex;
  align-items: center;
}

.navbar-tertiary>* {
  display: inline;
  margin: 0 0.5rem;
}

.navbar-email {
  font-weight: 400;
  font-size: 1.2rem;
}

/* END NAVBAR */

/* FOOTER */

footer {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, .2);
  min-height: 50px;
  background: rgb(255, 255, 255);
  margin-top: auto;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

footer>* {
  margin: 1rem;
}


/* END FOOTER */

.logo-d-2 {
  text-decoration: underline;
}

/* BUTTONS */

.button-action {
  display: inline-flex;
  justify-content: center;
  margin: 0 0.2rem;
  padding: 0.2rem 1rem;
  background-color: transparent;
  outline: 1px solid var(--secondary);
  border-radius: 4px;
  color: var(--secondary);
  font-size: 1.4rem;
  font-weight: 400;
  transition: 0.3s;
}

.button-action:hover {
  background-color: var(--basketdrop-grey);
  transition: 0.3s;
}

/* END BUTTONS */

/* MAIN BODY */

.body-container {
  display: flex;
  margin: 1rem 1rem;
  flex-direction: row;
}

/* END MAIN BODY */

/* SHOP LIST CARDS */

.shop-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 2rem;
  /* justify-content: center; */
  /* justify-items: center; */
}

.shop-card {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-color: var(--basketdrop-grey);
  min-height: 20rem;
  max-height: 20rem;
  transition: 0.5s;
  overflow: hidden;
}

.shop-card:hover, .shop-card.hover {
  transform: scale(1.02);
  transition: 0.5s;
  box-shadow: 4px 4px 25px var(--secondary);
}

/* .shop-card:hover .shop-card-link {
  display: flex;
} */

.shop-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* .shop-card-link {
  display: none;
  background-color: white;
  color: black;
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 10px;
} */

.shop-card-title {
  font-size: 2rem;
  color: white;
}

.shop-card-description {
  position: relative;
  top: 16rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--secondary02a);
  margin: 0.6rem;
  margin-top: auto;
  max-height: fit-content;
  padding: 0.6rem 0.6rem;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.shop-card:hover .shop-card-description, .shop-card.hover .shop-card-description {
  background-color: var(--secondary);
  color: white;
  top: 0;
  transition: 0.5s;
}

.shop-grid-example {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 2rem auto;
  padding: 0 2rem;
}

.shop-grid-example>.shop-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)) !important;
}

/* END SHOP LIST CARDS */

/* FORMS */

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 100%;
  max-width: 480px;
  margin: 0 auto;
}

form h1 {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0.8rem;
}

fieldset {
  border: medium none !important;
  margin: 0 0 1rem;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

form {
  width: 100%;
}

form label {
  display: block;
}

.checkbox-and-label {
  display: flex;
  flex-direction: row;
  /* border: 1px solid var(--primary05a); */
  justify-content: center;
  align-items: center;
  margin: 0.4rem 0 0.4rem 0;
}


.input-and-label {
  display: flex;
  flex-direction: column;
  margin: 0.4rem 0 0.4rem 0;
}

form input[type="text"], form input[type="email"], form input[type="number"], form input[type="password"], form textarea {
  width: 100%;
  border: 1px solid var(--primary05a);
  background: #FFF;
  margin: 0 0 0.2rem;
  padding: 0.6rem;
  transition: 0.3s;
}

form input[type="text"]:hover, form input[type="email"]:hover, form input[type="number"]:hover, form input[type="password"]:hover, form textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid var(--primary);
}

form input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin: 6px 6px;

}
.checkbox-and-label label {
  line-height: 24px;
  font-weight: 600;
}

form textarea {
  height: 6rem;
  max-width: 100%;
  resize: vertical;
}

form button[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--primary);
  color: #FFF;
  font-weight: 500;
  font-size: 1rem;
  margin: 0 auto 0.2rem;
  padding: 0.6rem;
  transition: 0.3s;
}

form button[type="submit"]:hover {
  background: var(--secondary);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

form button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

form input:focus, form textarea:focus {
  outline: 0;
  border: 1px solid var(--primary);
  box-shadow: 0px 0px 5px var(--primary);
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* END FORMS */

/* FOOTER */

.footer {
  margin-top: auto;
  color: #888;
}

/* END FOOTER */

/* SHOP PAGE */

.shop-container {
  display: grid;
  grid-template-columns: 1.61fr 1fr;
}

.shop-container>* {
  padding: 0.6rem 0.6rem;
  margin: 0.5rem 0.5rem;
}

.shop-header {
  display: grid;
  height: 200px;
  border: solid black;
  grid-template-columns: 1.61fr 1fr;
  height: auto;
}

.shop-header>* {
  margin: 0.5rem 0.5rem;
}

.shop-name {
  margin: 0.6rem 0;
}

.shop-description {
  padding: 0 1rem;
}

.shop-image {
  max-width: 90%;
  justify-self: center;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0px 0px 15px var(--primary);
}

.shop-header .shop-image img {
  width: 150px;
}

.shop-items {
  border: solid green;
}

.shop-basket {
  border: solid red;
}

.items {
  border: solid orange;
}

/*
  media queries:
  once the vw below 1280, hide images,
  once below 720, hide basket
*/

/* END SHOP PAGE */