@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --main-fg: #7B3DB8;
    --color3: #35B6E0;
    --color1: #03EFFD;
    --color2:  #726ECD;
    --main-bg: #FEFEFE;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg);
    color: white;
}

hr {
    width: 100%;
    border: 1px solid black;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

fieldset {
    display: flex;
    flex-direction: column;
}

.button {
    padding: 1rem;
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    transition: 0.3s;
}

.button:hover {
    transform: scale(0.9);
}

.button-white {
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 10px;
    transition: 0.3s;
}

.button-white:hover {
    transform: scale(0.9);
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto 0 auto;
    height: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    margin: 0 auto 0 auto;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    background-color: var(--main-fg);
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

nav h1 {
    color: white;
    font-size: 3rem;
    background-color: var(--color1);
    padding: 1rem;
    border-radius: 10px;
    transform: rotate(-10deg);
    margin-left: -2rem;
    box-shadow: 2px 2px 25px white;
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

nav h1:hover {
    animation-name: spin;
    animation-direction: 1s;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav ul li {
    margin: 1rem;
}

.container-row {
    display: flex;
    flex-direction: row;
}

.center {
    align-items: center;
    justify-content: center;
}

.list-container {
    display: flex;
    background-color: dodgerblue;
    border: 2px solid black;
    flex-direction: column;
    margin: 0 1rem 0 1rem;
    width: 45vw;
}

.list-container h1 {
    background-color: black;
    color: white;
    width: 100%;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
}

.list-container ul {
    padding: 1rem;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    width: 100%;
}

.item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-fg);
    color: black;
    box-shadow: 4px 4px 10px black;
    border-radius: 10px;
    margin: 1rem;
    padding: 0;
}

.item-card-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 3rem;
    background-color: dodgerblue;
    border-radius: 0 0 5px 5px;
    color: white;
}

.item-card-controls-small {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: .1rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0 0 5px 5px;
    color: white;
}

.item-card-controls h1 {
    font-size: 1rem;
    background-color: green;
    padding: 1rem;
    transition: 0.3s;
    cursor: pointer;
}

.item-card-controls-small h3 {
    font-size: 0.5rem;
    background-color: green;
    padding: 0.1rem;
    transition: 0.3s;
    cursor: pointer;
}

.item-card-controls h1:hover,
.item-card-controls-small h3:hover {
    transform: scale(0.9);
}

.shop-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1rem;
}

.shop-card {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-color: black;
    min-height: 20rem;
    transition: 1s;
}

.shop-card:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 25px black;
}

.shop-card:hover .shop-card-description {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 1);
}

.shop-card:hover .shop-card-link {
    display: flex;
}

.shop-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0.25;
}

.shop-card-link {
    display: none;
    background-color: springgreen;
    color: black;
    padding: 0.5rem;
    margin: 0.25rem;
    border-radius: 10px;
}

.shop-card-title {
    font-size: 2rem;
    color: white;
}

.shop-card-description {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    margin-top: auto;
    padding: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.shop-basket{
    position: fixed;
    left: 1rem;
    top: 20%;
    display: flex;
    flex-direction: column;
    background-color: gray;
    border-radius: 10px;
    padding: 1rem;

}

.basket-summary {
    display: grid;
    grid-auto-rows: 1.62rem;
    grid-gap: 0.8rem;
    grid-template-columns: max-content 1fr max-content max-content max-content;
    align-items: center;
    grid-auto-flow: row;
}

.basket-item-details,
.basket-item-details * {
    display: inline;
    vertical-align: middle;
}

.flashes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    margin: 0 auto 0 auto;
}

.flashes * {
    font-size: 2rem;
}

.flash-error {
    color: crimson;
}

.flash-success {
    color: limegreen;
}

.flash-message {
    color:mediumorchid;
}

@keyframes logo {
    from {
        transform: scale(1);
        transform: rotate(-10deg);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}